#about {
  font-size: 1.25rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 0 1.5rem;
}

#about h1 {
  text-align: center;
  margin: 1rem 0;
  padding-bottom: 1rem;
  color: var(--brown-100);
}

#about h2 {
  font-size: 1.5rem;
  padding-top: 1rem;
}
