<div id="about" class="static container">
    <h1>Über mich</h1>

    <h2>Meine Expertise</h2>
    <p>
        Mit jahrelanger Erfahrung in den Bereichen Energieeffizienz und regenerative Energieerzeugung liegt mein Fokus
        auf innovativen regenerativen Energiekonzepten sowie moderner Fenstertechnik.
    </p>

    <h2>Qualifikation</h2>
    <p>Meine berufliche Grundlage bildet ein technisch, naturwissenschaftliches Ingenieurstudium an der technischen
        Hochschule OWL. Mit der Qualifikation zum Energieeffizienzexperten (EEE) bin ich in der Expertenliste der
        Deutschen Energie-Agentur (Dena) für staatliche Förderprogramme gelistet. Die Dena fordert von jedem
        Energieberater die die kontinuierliche Weiterbildung und stellt somit eine hohe Beratungsqualität sicher.
    </p>

    <h2>Meine Arbeitsweise</h2>
    <p>Meine Beratungsdienstleistungen zeichnen sich durch Unabhängigkeit und Freiberuflichkeit aus.</p>

    <div class="flex row justify-content-between">
        <div class="col d-inline-block align-self-start">
            <h2>Ihr Ansprechpartner</h2>
            <p>Vertrauen Sie auf meine Fachkenntnis als Energieberater. Ich stehe Ihnen mit Leidenschaft und Engagement zur Seite.</p>
            <p>Nutzen Sie gerne einen der möglichen Wege der <strong><a href="/kontakt">Kontaktaufnahme</a></strong>.</p>
        </div>
        <img class="col text-logo" height="250" src="/images/about/fulltext_logo_without_background.svg" alt="Logo mit text Energieberatung Karsten Diekmann">
    </div>
</div>
