<div class="jumbotron">
    <h1 class="display-4">Vielen Dank!</h1>
    <p class="lead">We will reach out soon!</p>
    <p class="lead">Come back to <a href="/">Homepage</a>.</p>
    <hr class="my-4">

</div>
