<div id="contact" class="container">
    <h1>Kontakt</h1>

    <div class="row">
        <div class="col-12 col-md-6 px-1 px-lg-5">
            <h2 class="top">Kontakt</h2>
            <ul class="list-unstyled">
                <li>Email: <span class="px-3"><a href="mailto:eee.diekmann@icloud.com">eee.diekmann@icloud.com</a></span></li>
                <li>Mobil: <span class="px-3"><a href="tel:+4917647045777">+49 (0) 176 470 45 777</a></span></li>
                <li>Whatsapp: <span class="px-3"><a href="https://api.whatsapp.com/send?phone=4917647045777">+49 (0) 176 470 45 777</a></span></li>
            </ul>

            <h2 class="top">Addresse</h2>
            <p><a href="https://www.google.com/maps/place/Woldemarstra%C3%9Fe+41A,+32756+Detmold/@51.9350607,8.8861338,17z/data=!3m1!4b1!4m6!3m5!1s0x47ba4498aa048f9b:0x22094a57b4005c1a!8m2!3d51.9350574!4d8.8887087!16s%2Fg%2F11c18x9fd4?entry=ttu">Woldemarstraße 41a, 32756 Detmold</a></p>
        </div>
        <div class="col-12 col-md-6 px-1 px-lg-5">
            <h2 class="top">Bürozeiten</h2>
            <p>montags - freitags <br>10:00 - 17:00 Uhr telefonisch erreichbar<br></p>
            <p><strong>Termine nach vorheriger Vereinbarung</strong></p>
        </div>
    </div>

    <div class="contact-form">
        <h2 id="contact-form-title">Kontaktformular</h2>
        <form aria-labelledby="contact-form-title" action="https://formsubmit.co/eee.diekmann@icloud.com" method="POST" class="row g-3 needs-validation" novalidate>
            <div class="col-md-4">
                <label for="name" class="form-label fw-bold">Name <span class="asterisk">*</span></label>
                <input type="text" name="name" class="form-control" id="name" required>
                <div class="invalid-feedback">
                    Bitte Ihr Name eingeben.
                </div>
            </div>
            <div class="col-md-4">
                <label for="email" class="form-label fw-bold">Email <span class="asterisk">*</span></label>
                <input type="email" name="email" class="form-control" id="email" required>
                <div class="invalid-feedback">
                    Bitte Ihre Email eingeben.
                </div>
            </div>
            <div class="col-md-4">
                <label for="tel" class="form-label fw-bold">Telefonnummer</label>
                <input type="tel" name="telefon" class="form-control" id="tel">
            </div>
            <div class="col-12">
                <label for="message" class="form-label fw-bold">Nachricht <span class="asterisk">*</span></label>
                <textarea type="text" class="form-control" id="message" name="Nachricht" required></textarea>
                <div class="invalid-feedback">
                    Bitte eine Nachricht schreiben.
                </div>
            </div>

            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                        Ich habe die <span><a href="/datenschutz">Datenschutzerklärung</a></span> zur Kenntnis genommen und erkläre mich damit einverstanden.
                    </label>
                    <div class="invalid-feedback">
                        Bitte bestätigen Sie die Datenschutzerklärung.
                    </div>
                </div>
            </div>
            <input type="hidden" name="_next" value="http://localhost:3000/danke" aria-hidden="true" tabindex="-1">
            <input type="hidden" name="_subject" value="Neu kontakt!" aria-hidden="true" tabindex="-1">
            <input type="hidden" name="_autoresponse" value="Vielen Dank für Ihre Nachricht!" aria-hidden="true" tabindex="-1">

            <div class="col-12 text-center">
                <button class="send btn btn-primary" type="submit">Senden</button>
            </div>
        </form>
    </div>

    <!--The div element for the map -->
    <div id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d315228.6430763351!2d8.306884950359903!3d51.884254556470594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xeaf7701fef39ec1%3A0xddfe25f8a821613d!2sDiekmann%20Energieberatung!5e0!3m2!1sen!2sde!4v1692891189678!5m2!1sen!2sde"
                width="100%" height="450"
                class="border-0 py-5"
                allowfullscreen=""
                loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</div>
