<picture>
    <source media="(min-width: 1024px)" srcset="/images/services/service_cover_large.png">
    <source media="(min-width: 768px)" srcset="/images/services/service_cover_medium.png">
    <img class="service-cover-image" src="/images/services/service_cover_small.svg" alt="Dienstleistung cover image">
</picture>
<div class="container service">
    <h1>Energieausweise</h1>

    <p class="mb-4">
        Der Energieausweis ist ein unverzichtbares Instrument, um die Energieeffizienz Ihrer Immobilie transparent
        darzustellen. Besonders im Falle von Vermietung oder Verkauf ist der Energieausweis gesetzlich vorgeschrieben
        und gibt potenziellen Käufern oder Mietern wichtige Informationen über den Energieverbrauch des Gebäudes.
    </p>

    <picture>
        <source media="(min-width: 1024px)" srcset="/images/services/service_energieausweis_large.svg">
        <source media="(min-width: 768px)" srcset="/images/services/service_energieausweis_medium.png">
        <img class="service-image" src="/images/services/service_energieausweis_small.svg" alt="Energieausweis beispiel bild">
    </picture>

    <h2 class="mt-4">Verbrauchsausweis: Basis aus den letzten Jahren</h2>
    <p>
        Ein Verbrauchsausweis basiert auf dem Energieverbrauch der letzten 3-4 Jahre. Er gibt Aufschluss darüber,
        wie viel Energie in diesem Zeitraum verbraucht wurde. Diese Art des Energieausweises ist besonders praktisch,
        da sie auf tatsächlichen Verbrauchsdaten basiert und somit ein realistisches Bild der Energieeffizienz des
        Gebäudes vermittelt.
    </p>

    <h2>Bedarfsausweis: Analyse der baulichen Eigenschaften</h2>
    <p>
        Der Bedarfsausweis hingegen bietet eine umfassende Analyse der baulichen Eigenschaften Ihres Gebäudes.
        Hierbei werden verschiedene Faktoren wie Wärmedämmung, Fensterqualität, Heizungssystem und mehr berücksichtigt.
        Mithilfe dieser Informationen erstelle ich eine Berechnung des Energiebedarfs Ihres Gebäudes. Dabei werden
        standardisierte Randbedingungen wie das Klima in Deutschland und die Nutzung des Gebäudes berücksichtigt.
    </p>

    <h2>Offizielle Dokumente für Transparenz</h2>
    <p>
        Die erstellten Energieausweise sind nicht nur informative Dokumente, sondern auch offizielle Nachweise über
        die Energieeffizienz Ihrer Immobilie. Jeder Ausweis wird mit einer eindeutigen Registrierungsnummer des DIBt
        (Deutsches Institut für Bautechnik) versehen, um die Authentizität und Gültigkeit des Ausweises zu bestätigen.
    </p>

    <h2>Warum der Energieausweis im Rahmen des iSFP Sinn macht?</h2>
    <p>
        Im Rahmen des Individuellen Sanierungsfahrplans (iSFP) können Sie vom Energieausweis besonders profitieren.
        Ein Verbrauchsausweis kann oft ohne hohe Mehrkosten im Zuge des iSFP generiert werden. Diese Möglichkeit
        bietet Ihnen eine kostengünstige Methode, um wertvolle Informationen über den Energieverbrauch Ihrer Immobilie
        zu erhalten. Ein Bedarfsausweis, der eine umfassende Analyse der baulichen Eigenschaften beinhaltet, ist
        ebenfalls ein wertvolles Instrument im Rahmen des iSFP. Er liefert Ihnen wertvolle Daten, die als Grundlage
        für gezielte Sanierungsmaßnahmen dienen können.
    </p>

    <div class="d-flex flex-column flex-md-row justify-content-md-between mt-3 mt-md-5">
        <h2 class="d-block d-md-none">Weitere Dienstleistungen</h2>
        <a class="col fw-bold" href="/dienstleistungen/isfp"><span class="mx-2 d-none d-md-inline"><i class="fas fa-arrow-left" style="color: #212529;"></i></span>Individueller Sanierungsfahrplan</a>
        <a class="col fw-bold text-md-end" href="/dienstleistungen/energieberatung">Energieberatung <span class="mx-2 d-none d-md-inline"><i class="fas fa-arrow-right" style="color: #212529;"></i></span></a>
    </div>
</div>
