<picture>
    <source media="(min-width: 1024px)" srcset="/images/services/service_cover_large.png">
    <source media="(min-width: 768px)" srcset="/images/services/service_cover_medium.png">
    <img class="service-cover-image" src="/images/services/service_cover_small.svg" alt="Dienstleistung cover image">
</picture>
<div class="container service">
    <h1>Energieberatung</h1>
    <h2>Initialberatung, Orientierungsberatung Sanierung</h2>
    <p> Nutzen Sie die preiswerte, neutrale Initialberatung und verschaffen Sie sich einen Überblick zu aktuellen Energiesparmaßnahmen.</p>
    <p class="mb-4">
        Das Beratungsgespräch verschafft Ihnen einen ersten Überblick zu dem energetischen Zustand des Gebäudes, Energiespartechnik,
        Einfluss des Nutzerverhaltens auf den Energieverbrauch und Fördermöglichkeiten von Einsparmaßnahmen.
        Desweiteren dient es als Entscheidungshilfe beim bei Sanierung- und Modernisierungsmaßnahmen, Veränderungen an der Heizungsanlage,
        Maßnahmen der nachträglichen Wärmedämmung und Nutzung erneuerbarer Energien.
    </p>

    <picture>
        <source media="(min-width: 1024px)" srcset="/images/services/service_energieberatung_large.svg">
        <source media="(min-width: 768px)" srcset="/images/services/service_energieberatung_medium.png">
        <img class="service-image" src="/images/services/service_energieberatung_small.png" alt="Energieberater">
    </picture>

    <h2 class="mt-4">Energieberatung</h2>
    <p> Die Energieberatung geht über die Initialberatung hinaus. Ich biete Ihnen eine detaillierte Analyse Ihres Gebäudes und erarbeiten
        maßgeschneiderte Lösungen, um die Energieeffizienz zu steigern. Dabei berücksichtige ich nicht nur bauliche Aspekte,
        sondern auch die Nutzung erneuerbarer Energien sowie moderne Heiztechnik.
    </p>
    <p>
        Die Entscheidung für die energetische Sanierung oder Modernisierung eines Gebäudes ist ein wichtiger Schritt.
        Ich stehe Ihnen zur Seite, um Ihnen alle erforderlichen Informationen zu liefern, die Sie benötigen,
        um die richtigen Entscheidungen zu treffen. Der Ziel ist es, Ihnen nicht nur dabei zu helfen, Kosten zu sparen,
        sondern auch Ihre Lebensqualität zu verbessern und einen Beitrag zur Umwelt zu leisten.
    </p>

    <h2>Warum Sie einen Energieberater benötigen?</h2>
    <p>
        Die Welt der Energieeffizienz kann komplex sein, und die Vielfalt der verfügbaren Technologien und Maßnahmen kann
        überwältigend sein. Ob es darum geht, den Energieverbrauch zu reduzieren, die Wärmedämmung zu optimieren oder
        erneuerbare Energien zu nutzen - ein erfahrener Energieberater kann Ihnen bei all diesen Herausforderungen helfen.
        Unsere Energieberatung bietet Ihnen nicht nur Orientierung, sondern auch eine umfassende Analyse Ihres Gebäudes und
        Ihrer individuellen Bedürfnisse. Wir nehmen uns Zeit, Ihr Zuhause genau unter die Lupe zu nehmen und maßgeschneiderte
        Lösungen vorzuschlagen, die Ihren Anforderungen entsprechen.
    </p>

    <h2>Online und Offline: Flexibilität für Ihre Bedürfnisse</h2>
    <p>
        Eine Energieberatung bietet Ihnen sowohl online als auch offline umfassende Unterstützung.
        Wenn es Ihnen zeitlich besser passt oder Sie von weiter entfernt kommen, können wir Beratungssitzungen online durchführen.
        Unsere Flexibilität ermöglicht es uns, Ihnen optimalen Service zu bieten, der Ihren individuellen Bedürfnissen entspricht.
    </p>

    <h2>Innovative und regenerative Konzepte</h2>
    <p>Die Berücksichtigung des heutigen technischen Standes der Bauelemente sowie moderne Heiztechnik mit regenerativen Bestandteilen sind selbstverständlich.</p>

    <div class="d-flex flex-row justify-content-between mt-5">
        <a class="col fw-bold" href="/dienstleistungen/energieausweis"><span class="mx-2"><i class="fas fa-arrow-left" style="color: #212529;"></i></span>Energieausweis</a>
        <a class="col fw-bold text-end" href="/dienstleistungen/isfp">Individueller Sanierungsfahrplan <span class="mx-2"><i class="fas fa-arrow-right" style="color: #212529;"></i></span></a>
    </div>
</div>

