<div id="imprint" class="static container">
    <h1>Impressum</h1>

    <h2>Vertreten durch</h2>
    <p>Dipl.-Ing. (FH) Karsten Diekmann</p>

    <h2>Kontakt</h2>
    <p>
        Adresse:  Woldemarstraße 41a, 32756 Detmold
        <br>Email:  eee.diekmann@icloud.com
        <br>Telefon:  +49 (0) 176 470 45 777
    </p>

    <h2>Haftungsausschluss</h2>
    <p>
        Diese Homepage wurde sorgsam erstellt. Gleichwohl sind Unrichtigkeiten nicht ausgeschlossen.
        Die Bereitstellung dieser Webseite erfolgt daher ohne Anspruch und Garantie auf Richtigkeit oder Vollständigkeit.
        Haftungsansprüche sind gänzlich ausgeschlossen.
    </p>

    <h2>Angebote und Änderungen</h2>
    <p>
        Alle Angebote sind freibleibend und unverbindlich. Der Autor behält es sich ausdrücklich vor,
        Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen,
        zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
    </p>

    <h2>Haftung für Links</h2>
    <p>
        Bei direkten oder indirekten Verweisen auf fremde Webseiten würde eine Haftung ausschließlich in dem Fall
        in Kraft treten, in dem der Autor von rechtswidrigen Inhalten Kenntnis hat und es ihm technisch möglich
        und zumutbar wäre, die Nutzung zu verhindern. Der Autor erklärt hiermit ausdrücklich, dass zum Zeitpunkt
        der Linksetzung keine rechtswidrigen Inhalte auf den verlinkten Seiten erkennbar waren. Auf die Gestaltung,
        die Inhalte oder die Urheberschaft der verlinkten Seiten hat der Autor keinen Einfluss. Für rechtswidrige,
        fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung der dargebotener
        Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde.
    </p>

    <h2>Urheberrecht</h2>
    <p>
        Die auf dieser Website veröffentlichten Inhalte unterliegen dem deutschen Urheberrecht.
        Jede vom deutschen Urheberrecht nicht zugelassene Verwertung bedarf der vorherigen schriftlichen
        Zustimmung des jeweiligen Autors oder Urhebers.
    </p>

    <h2>Markenzeichen und Copyright</h2>
    <p>
        Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- oder
        Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Copyrights und den
        Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein durch Nennung ist nicht der Schluss zu ziehen,
        dass Markenzeichen nicht durch Rechte Dritter geschützt sind.
    </p>

    <h2>Copyright für veröffentlichte Objekte</h2>
    <p>
        Das Copyright für veröffentlichte, vom Autor selbst erstellte Objekte bleibt allein beim Autor der Seiten.
        Eine Vervielfältigung oder Verwendung solcher Medien in anderen elektronischen oder gedruckten Publikationen
        ist ohne ausdrückliche Zustimmung des Autors nicht gestattet.
    </p>

    <h2>Energieberatung EEE.Diekmann</h2>
    <p>
        Die Energieberatung EEE.Diekmann, vertreten durch Dipl.-Ing. (FH) Karsten Diekmann, berät
        Eigentümer von Wohnungen und Gebäuden hinsichtlich der energetischen Optimierung Ihres Eigentums.
    </p>

    <h2>Beratungsleistungen und Fachplanung</h2>
    <p>
        Die EEE.Diekmann (Energieberatung) erbringt Beratungsleistungen bei der energetischen Sanierung.
        Es werden keine Aufgaben eines Fachplanungsbüros im Sinne der HOAI übernommen. Bei baurechtlich
        genehmigungspflichtigen Umbauten, Änderungen oder Neubauten können Planungsleistungen an externe
        Planungsbüros vergeben werden. Vorschläge zur energetischen Sanierung sind vom Eigentümer bzw.
        seinen Auftragnehmern eigenverantwortlich und unter Einbeziehung aller relevanten Randbedingungen
        selbständig auf ihre Realisierbarkeit zu überprüfen.
    </p>

    <h2>Eigenverantwortung und Richtlinien</h2>
    <p>
        Diese Eigenverantwortung gilt auch dann uneingeschränkt, wenn Arbeiten in Eigenleistung ohne Einbindung von
        Fachfirmen ausgeführt werden. Eigenleistungen im Sinne der Richtlinie sind nur begrenzt
        (Materialkosten) förderfähig.
    </p>
</div>
