<picture>
    <source media="(min-width: 1024px)" srcset="/images/services/service_cover_large.png">
    <source media="(min-width: 768px)" srcset="/images/services/service_cover_medium.png">
    <img class="service-cover-image" src="/images/services/service_cover_small.svg" alt="Dienstleistung cover image">
</picture>
<div class="container service">
    <h1>Individueller Sanierungsfahrplan <br>(iSFP)<br> </h1>

    <p class="mb-4">
        Der Individuelle Sanierungsfahrplan (iSFP) ist ein maßgeschneiderter Leitfaden, der Ihnen aufzeigen wird,
        wie Sie Ihr Gebäude auf ein zeitgemäßes Effizienzniveau heben können. Im Rahmen des iSFP wird Ihr Gebäude
        detailliert analysiert, wobei sowohl die Hüllfläche als auch die gesamte Gebäudestruktur berücksichtigt werden.
        Stellen Sie sich den beheizten Raum Ihres Hauses als einen großen Raum mit all seinen Dämmelementen nach
        außen vor – der iSFP betrachtet jedes Detail, um die besten Ergebnisse zu erzielen.
    </p>

    <picture>
        <source media="(min-width: 1024px)" srcset="/images/services/service_isfp_large.svg">
        <source media="(min-width: 768px)" srcset="/images/services/service_isfp_medium.png">
        <img class="service-image-isfp" src="/images/services/service_isfp_small.svg" alt="Energieausweis beispiel bild">
    </picture>

    <h2 class="mt-4">Maßgeschneiderte Einzelmaßnahmen für Ihre Bedürfnisse</h2>
    <p>
        Der iSFP zeigt Ihnen durch eine individuelle Auswahl von Einzelmaßnahmen den Weg zur energetischen Optimierung
        Ihres Gebäudes. Diese Maßnahmen werden auf Ihre Pläne, Möglichkeiten und Bedürfnisse abgestimmt.
        Dabei stehen nicht nur technische Aspekte im Vordergrund, sondern auch Ihre persönlichen Anforderungen.
        Ob es um die Verbesserung der Wärmedämmung, den Einsatz erneuerbarer Energien oder die Modernisierung
        der Heizungsanlage geht – der iSFP liefert Ihnen konkrete Handlungsempfehlungen, um Ihr Gebäude auf
        ein heutiges Effizienzhausniveau (EH85 oder besser) zu bringen.
    </p>

    <h2>Bafa-Förderung: Ihre Investition in die Zukunft</h2>
    <p>
        Der Aufwand für den Individuellen Sanierungsfahrplan wird von der Bafa (Bundesamt für Wirtschaft und
        Ausfuhrkontrolle) gefördert. Ihr Eigenanteil für den iSFP ist daher in der Regel sehr gut investiert.
        Durch den iSFP erhalten Sie nicht nur eine umfassende Analyse Ihres Gebäudes und individuelle Empfehlungen,
        sondern auch einen zusätzlichen Förderbetrag als Zuschuss für relevante Einzelmaßnahmen
        an der Gebäudehülle.
    </p>

    <h2>Entscheidungsfindung erleichtern</h2>
    <p>
        Die Entscheidung für Sanierungsmaßnahmen kann komplex sein und erfordert eine fundierte Basis.
        Der iSFP unterstützt Sie dabei, die richtigen Entscheidungen zu treffen. Mit klaren Empfehlungen
        und einem klaren Fahrplan vor Augen können Sie gezielt und effektiv Maßnahmen umsetzen, die nicht nur
        Ihre Energieeffizienz steigern, sondern auch den Wert Ihrer Immobilie erhöhen.
    </p>

    <h2>Mehr als nur eine Analyse</h2>
    <p>
        Der Individuelle Sanierungsfahrplan (iSFP) ist weit mehr als nur eine Analyse Ihres Gebäudes.
        Er ist Ihr maßgeschneiderter Wegweiser zu einem energieeffizienten und modernen Zuhause. Die Kombination
        aus detaillierter Analyse, maßgeschneiderten Empfehlungen und der Bafa-Förderung macht den iSFP zu einer
        wertvollen Investition in die Zukunft.
    </p>
    <p>
        Wenn Sie mehr darüber erfahren möchten, wie der individuelle Sanierungsfahrplan Ihnen helfen kann,
        nehmen Sie gerne <span><a href="/kontakt">kontakt</a></span> auf.
    </p>

    <h2>Mehr lesen</h2>
    <ul>
        <li>
            <a href="https://www.energiewechsel.de/KAENEF/Redaktion/DE/Foerderprogramme/beg-em-privat.html">Bundesförderung für effiziente Gebäude - Einzelmaßnahmen (BEG EM) für private Haushalte</a>
        </li>
        <li>
            <a href="https://www.bafa.de/DE/Energie/Energieberatung/Energieberatung_Wohngebaeude/energieberatung_wohngebaeude_node.html">Bundesförderung Energieberatung für Wohngebäude</a>
        </li>
    </ul>
</div>
