#homepage .title {
  color: white;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(to bottom, rgba(65, 75, 59, 0.5) 20%, rgba(65, 75, 59, 0) 100%);
}
@media (min-width: 768px) {
  #homepage .title {
    left: 2rem;
  }
}
@media (min-width: 1400px) {
  #homepage .title {
    left: 3rem;
  }
}

#homepage .title h1 {
  text-shadow: var(--green-500) 1px 0 10px;
}

#homepage .title p {
  font-size: 0.8rem;
  text-shadow: var(--green-500) 1px 0 10px;
}
@media (min-width: 768px) {
  #homepage .title p {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  #homepage .title p {
    font-size: 2rem;
  }
}

#homepage .cover-image {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}
@media (min-width: 1200px) {
  #homepage .cover-image {
    max-height: 450px;
  }
}
@media (min-width: 1400px) {
  #homepage .cover-image {
    max-height: 650px;
  }
}

#homepage .contact-btn {
  padding: 0.5rem 1rem;
  margin-top: 2rem;
}
@media (min-width: 1200px) {
  #homepage .contact-btn {
    font-size: 1.2rem;
    margin-top: 4rem;
  }
}
@media (min-width: 1400px) {
  #homepage .contact-btn {
    margin-top: 5rem;
  }
}

#homepage .text-logo {
  display: inline-block;
  max-height: 200px;
}
@media (min-width: 576px) {
  #homepage .text-logo {
    max-height: 200px;
  }
}
@media (min-width: 768px) {
  #homepage .text-logo {
    max-height: 300px;
  }
}
@media (min-width: 1200px) {
  #homepage .text-logo {
    max-height: 400px;
  }
}
@media (min-width: 1400px) {
  #homepage .text-logo {
    max-height: 500px;
  }
}

#homepage .section {
  padding: 2rem 1rem;
}
@media (min-width: 768px) {
  #homepage .section {
    padding: 3rem 2rem;
  }
}
@media (min-width: 1200px) {
  #homepage .section {
    padding: 4rem 2rem;
  }
}

@media (min-width: 1200px) {
  #homepage .list-item {
    font-size: 1rem;
  }
}
@media (min-width: 1400px) {
  #homepage .list-item {
    font-size: 1.5rem;
  }
}

#homepage .colored-section {
  background-color: var(--green-400);
  color: var(--green-100);
}

#homepage .card {
  background: none;
  box-shadow: 0 0 0 0.1rem var(--green-500);
  width: 100%;
  border: none;
  color: var(--green-100);
  margin: 1rem 0.5rem;
}
@media (min-width: 768px) {
  #homepage .card {
    margin: 1rem 1rem;
  }
}
@media (min-width: 992px) {
  #homepage .card {
    width: 18rem;
  }
}

#homepage .card-text {
  min-height: 8rem;
}
@media (min-width: 576px) {
  #homepage .card-text {
    min-height: 5rem;
  }
}
@media (min-width: 992px) {
  #homepage .card-text {
    min-height: 7rem;
  }
}

#homepage .more-info {
  position: absolute;
  width: max-content;
  margin-bottom: 1rem;
  margin-left: 1rem;
  bottom: 0;
  right: 0;
}
@media (min-width: 992px) {
  #homepage .more-info {
    left: 0;
  }
}

#homepage .card-img-top {
  width: 100px;
  height: 100px;
  padding: 0 1rem;
  margin: 0;
}
@media (min-width: 576px) {
  #homepage .card-img-top {
    width: 150px;
    height: 150px;
  }
}
@media (min-width: 992px) {
  #homepage .card-img-top {
    margin: 1rem 0;
  }
}

#homepage .carousel-caption {
  border-radius: 1rem;
  background-color: rgba(228, 244, 217, 0.9);
}

#homepage .carousel-item img {
  object-fit: cover;
  width: 100%;
  max-height: 300px;
}
@media (min-width: 576px) {
  #homepage .carousel-item img {
    max-height: 400px;
  }
}
@media (min-width: 1024px) {
  #homepage .carousel-item img {
    max-height: 500px;
  }
}
@media (min-width: 1400px) {
  #homepage .carousel-item img {
    max-height: 600px;
  }
}

#homepage .carousel-caption {
  display: flex;
  align-items: center;
  bottom: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  #homepage .carousel-caption {
    display: block;
    top: auto;
    bottom: 15%;
    transform: none;
  }
}

#homepage .carousel-inner {
  margin-left: 1px;
}

/*# sourceMappingURL=home.css.map */
