<footer role="contentinfo" id="footer">
    <div class="mx-3 py-4 row d-flex flex-column flex-sm-row justify-content-between align-items-start">
        <div class="col-12 col-sm-6">
            <ul class="list-unstyled">
                <li class="py-2">
                    <img src="/images/footer/address.svg" height="25" aria-hidden="true" alt="map icon"/>
                    <a class="footer-link px-2" href="https://www.google.com/maps/place/Woldemarstra%C3%9Fe+41A,+32756+Detmold/@51.9350607,8.8861338,17z/data=!3m1!4b1!4m6!3m5!1s0x47ba4498aa048f9b:0x22094a57b4005c1a!8m2!3d51.9350574!4d8.8887087!16s%2Fg%2F11c18x9fd4?entry=ttu">Woldemarstraße 41a, 32756 Detmold</a>
                </li>
                <li class="py-2">
                    <img src="/images/footer/mail.svg" height="25" aria-hidden="true" alt="mail icon"/>
                    <a class="footer-link px-2" href="mailto:eee.diekmann@icloud.com">eee.diekmann@icloud.com</a>
                </li>
                <li class="py-2">
                    <img src="/images/footer/phone.svg" height="25" aria-hidden="true" alt="phone icon"/>
                    <a class="footer-link px-2" href="tel:+4917647045777">+49 (0) 176 470 45 777</a>
                </li>
            </ul>
        </div>

        <div class="col-12 col-sm-6">
            <ul class="list-unstyled text-sm-end">
                <li class="py-2">
                    <a class="footer-link" href="/about">About</a>
                </li>
                <li class="py-2">
                    <a class="footer-link" href="/impressum">Impressum</a>
                </li>
                <li class="py-2">
                    <a class="footer-link" href="/datenschutz">Datenschutz</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
