:root {
    --beige-100: #f6f6e9;
    --pink-100: #ffebeb;
    --green-100: #e4f4d9;
    --green-200: #ddf1cf;
    --green-300: #4d6f2a;
    --green-400: #414b3b;
    --green-500: #2b3917;
    --brown-100: #504530;
    --brown-200: #272727;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    background-color: var(--beige-100);
}


